---
import { Image } from 'astro:assets';
import Link from './Link.astro';
import { createPath } from '../utils/paths';
import type { LinkProps } from '../types/index.ts';

export interface Props {
  logo_href?: string;
  links: LinkProps[];
}
const { logo_href="#home", links=[] }: Props = Astro.props;
---
<header class="header">

<script type="module" client::load>
    import '/src/scripts/menu.ts';
</script>

    <div class="header-inner container">
        <a href={logo_href} class="logo">
            <!-- Logo de Sybil -->
            <Image
            src={createPath("/assets/logo_sybil.png")} 
            alt="Sybil" 
            height="60px"
            width="60px"
            priority
            />
        </a>
        <nav>
            <ul class="nav-links" id="navLinks">
                {links.map((link) => (
                    <Link label={link.label} href={createPath(link.href)} />
                ))}
            </ul>
            <button class="hamburger" id="menuToggle" aria-label="Abrir menú">
                <span></span><span></span><span></span>
            </button>
        </nav>
    </div>
</header>
